
<div align="center"  style="padding-bottom:25px">
	<h2>List of Therapists</h2>
	
</div>


<!-- search box -->
<%= form_tag search_path, method: :get do %>
 <%= label_tag "Therapist_Name" %>
 <%= text_field_tag :check_name, nil,list: 'name' %>
 <datalist id='name'></datalist>
 <%= submit_tag "Search" %>

<% end %> 


<div class="row d-flex justify-content-around" style="padding-bottom:100px">
	<% @therapist.each do |th|%>
		<div class="col-mx-auto mx-1 my-4">
		 <div class="card bg-dark text-white" style="width:18rem; ">
		  <div class="card-img-top" alt="Card image cap"><%= image_tag "default_pic.png",class:"profile_image border border-light",style:"width:100%;height:250px;"%></div>
		  <div class="card-body">
		    <h5 class="card-title">Therapist's Name: <%=th.user.name%></h5>
		    <p class="card-text" style="height:100px">Area covered: <%=th.location%></p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item bg-dark text-white">Phone Number: <%=th.user.phone%></li>
		  </ul>
	
 	
		  <div class="card-body">
		  	<p>
		  		<div class="btn btn-primary">

		  		<%= link_to "Details",therapist_path(th.id), style:"color:white"%>
		  		</div>
		  		<div class="btn btn-primary">
		  		<%= link_to "Book therapist",new_therapist_reservation_path(th.id), style:"color:white"%>
		  		</div>
		  </p>
		  </div>
		 </div>
		</div>

	<%end%>	
</div>

