
<div align="center"  style="padding-bottom:25px">
	<h2>List of Therapists</h2>
	
</div>


<div class="row d-flex justify-content-around" style="padding-bottom:100px">
	<% @user.where(role:1).each do |th|%>
		<div class="col-mx-auto mx-1 my-4">
		 <div class="card bg-dark text-white" style="width:17rem; ">
		  <div class="card-img-top" alt="Card image cap"><%= image_tag "default_pic.png",class:"profile_image border border-light",style:"width:100%;height:250px;"%></div>
		  <div class="card-body">
		    <h5 class="card-title">Therapist's Name: <%=th.name%></h5>
		    <p class="card-text" style="height:100px">Area covered: <%=th.therapist.location%></p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item bg-dark text-white">Phone Number: <%=th.phone%></li>
		  </ul>
	
 	
		  <div class="card-body">
		  	<div class="btn btn-primary">

		  		<%= link_to "Details",therapist_path(th.id), style:"color:white"%>
		  		<%= link_to "Book your session",therapist_path(th.id), style:"color:white"%>
		  	</div>
		  </div>
		 </div>
		</div>

	<%end%>	
</div>

