

    <main role="main">
      <div class="container">
        <section class="jumbotron text-center bg-light" id="background" >
           <div><%= image_tag "default_pic.png",class:"profile_image ",style:"width:200px"%></div>
       
                
              
                  <h1 class="jumbotron-heading" style="font-family: 'Montserrat'"><%=  "- Therapist's Dashboard - "%></h1>
             
             
            <h6 class="lead text-info my-0 badge badge-warning" style="font-size:20px">Name : <%= @therapist.user.name%></h6>

             <h6 class="lead text-info my-0 badge badge-warning" style="font-size:20px">Covered Area : <%= @therapist.location%></h6>
           
            
            <p>
              
              <%= link_to "Book therapist",new_therapist_reservation_path(@therapist.id), class:"btn btn-secondary my-2"%>
            </p>
          
          </div>
        </section>

        
 <div class="row d-flex justify-content-around" style="padding-bottom:100px">
  <% @review.each do |review|%>
    <div class="col-mx-auto mx-1 my-4">
     <div class="card bg-dark text-white" style="width:18rem; ">
    
      <div class="card-body">
        <h5 class="card-title">Reviewed by: <%=User.find(review.reviewed_by).name%></h5>
        <p class="card-text" style="height:100px">Reviews: <%=review.comment%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-dark text-white">Ratings: <%=review.star%></li>
      </ul>
  
  
  
     </div>
    </div>

  <%end%> 
</div>


        