



<div class="text-field text-center my-1">
    <%= form.text_field :email, type: 'email',placeholder:"Email" %>
</div>

<div class="password-field text-center">
    <%= form.password_field :password, placeholder:"Password" %>
</div>

<div class="password-field text-center">
    <%= form.password_field :password_confirmation, placeholder:"confirm password" %>
</div>

<div class="text-field text-center my-1">
    <%= form.text_field :name, placeholder:"Name" %>
</div>

<div class="text-field text-center my-1">
    <%= form.text_field :age, placeholder:"Age" %>
</div>

<div class="text-field text-center my-1">
    <%= form.text_field :gender, placeholder:"Gender" %>
</div>

<div class="text-field text-center my-1">
    <%= form.text_field :phone, placeholder:"Phone" %>
</div>

